:root {
  --color-primary-0: #E34495;
  --color-primary-1: #F499C7;
  --color-primary-2: #EC69AB;
  --color-primary-3: #DA2280;
  --color-primary-4: #C60065;
  --color-primary-on-alt: #8C0048;

  --color-secondary-1-0: #FF914C;
  --color-secondary-1-1: #FFC49F;
  --color-secondary-1-2: #FFA872;
  --color-secondary-1-3: #FF7A28;
  --color-secondary-1-4: #F15C00;

  --color-secondary-2-0: #7F4ACD;
  --color-secondary-2-1: #BC9CEC;
  --color-secondary-2-2: #9A6DDC;
  --color-secondary-2-3: #672CBD;
  --color-secondary-2-4: #4B0EA4;

  --color-complement-0: #B4F349;
  --color-complement-1: #D8FB9D;
  --color-complement-2: #C4F76E;
  --color-complement-3: #A5F026;
  --color-complement-4: #8DE000;

  --background-color: #eee0ee;
  --background-color-alt: #ffbfed;
  --color-heading: #c60065;
  --color-subheading: var(--color-secondary-2-4);
  --base-font-color: #523E49;
  --base-font-color-on-alt: #361E2A;
  --color-link: #33007E;
  --color-card-hover: #d3c6e6;
  --color-stats: #77606c;
  --background-color-quote: #FFF7FB;
  --color-memage: var(--color-secondary-2-2);

  --h1: 3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: hsl(332, 50%, 5%);
    --background-color-alt: var(--background-color);
    --background-color-quote: hsl(332, 20%, 10%);
    --base-font-color: #eee0ee;
    --base-font-color-on-alt: var(--base-font-color);
    --color-link: var(--color-secondary-2-1);
    --color-card-hover: hsl(278, 50%, 10%);
    --color-stats: hsl(329, 10%, 75%);

    --color-heading: #E22485;
    --color-subheading: var(--color-secondary-2-1);
    --color-primary-on-alt: var(--color-heading);
  }
}

@media only screen and (min-width: 483px) {
  :root {
    --h1: 4rem;
  }
}

body {
  background: var(--background-color);
  font-family: 'Overpass', 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--base-font-color-on-alt);
  font-size: 1.125rem;
}

p {
  line-height: 1.5rem;
}

a {
  color: var(--color-link);
}

h1 {
  color: var(--color-primary-on-alt);
  font-weight: 700;
  font-size: var(--h1);
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
}

h2 {
  color: var(--color-subheading);
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2rem;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

code {
  font: 1rem monospace;
}

pre code {
  font: 1rem monospace;
}

ul {
  list-style-type: none;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible,
[tabindex]:focus-visible {
  outline: 3px solid var(--color-subheading);
  outline-offset: 2px;
}
