:root {
  --background-color: #eee0ee;
  --color-heading: #c60065;

  --color-primary-0: #E34495;
  --color-primary-1: #F499C7;
  --color-primary-2: #EC69AB;
  --color-primary-3: #DA2280;
  --color-primary-4: #C60065;
  --color-primary-on-alt: #8C0048;

  --color-secondary-1-0: #FF914C;
  --color-secondary-1-1: #FFC49F;
  --color-secondary-1-2: #FFA872;
  --color-secondary-1-3: #FF7A28;
  --color-secondary-1-4: #F15C00;

  --color-secondary-2-0: #7F4ACD;
  --color-secondary-2-1: #BC9CEC;
  --color-secondary-2-2: #9A6DDC;
  --color-secondary-2-3: #672CBD;
  --color-secondary-2-4: #4B0EA4;

  --color-complement-0: #B4F349;
  --color-complement-1: #D8FB9D;
  --color-complement-2: #C4F76E;
  --color-complement-3: #A5F026;
  --color-complement-4: #8DE000;

  --base-font-color: #523E49;
  --base-font-color-on-alt: #361E2A;
  --color-link: #33007E;

  --h1: 3rem;
}

@media only screen and (min-width: 483px) {
  :root {
    --h1: 4rem;
  }
}

body {
  background: var(--background-color);
  font-family: 'Overpass', 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--base-font-color-on-alt);
  font-size: 1.125rem;
}

p {
  line-height: 1.5rem;
}

a {
  color: var(--color-link);
}

h1 {
  color: var(--color-primary-on-alt);
  font-weight: 700;
  font-size: var(--h1);
}

h2 {
  color: var(--color-secondary-2-4);
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2rem;
}
