---
import RandomHeart from 'components:RandomHeart.svelte';
import Message from 'components:SecretMessage.svelte';

const range = Array.from({ length: 200 }, (_, i) => i);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <title>Secret Message for Wiktoria</title>
    <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" />
    <link href="/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png" />
    <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" />
    <link rel="icon" type="image/png" href="/favicon.ico" />
    <meta content="#E34495" name="theme-color" />
    <meta name="color-scheme" content="light" />
  </head>
  <body>
    {range.map(() => <RandomHeart client:load />)}
    <Message client:load />
  </body>
  <style>
    body {
      background-color: #ddd;
      overflow: hidden;
    }
  </style>
</html>
