:root {
  --color-primary-0: #e34495;
  --color-primary-1: #f499c7;
  --color-primary-2: #ec69ab;
  --color-primary-3: #da2280;
  --color-primary-4: #c60065;
  --color-primary-on-alt: #8c0048;

  --color-secondary-1-0: #ff914c;
  --color-secondary-1-1: #ffc49f;
  --color-secondary-1-2: #ffa872;
  --color-secondary-1-3: #ff7a28;
  --color-secondary-1-4: #f15c00;

  --color-secondary-2-0: #7f4acd;
  --color-secondary-2-1: #bc9cec;
  --color-secondary-2-2: #9a6ddc;
  --color-secondary-2-3: #672cbd;
  --color-secondary-2-4: #4b0ea4;

  --color-complement-0: #b4f349;
  --color-complement-1: #d8fb9d;
  --color-complement-2: #c4f76e;
  --color-complement-3: #a5f026;
  --color-complement-4: #8de000;

  --background-color: hsl(300, 29%, 91%);
  --background-color-alt: #ffbfed;
  --color-heading: #c60065;
  --color-subheading: var(--color-secondary-2-4);
  --base-font-color: #523e49;
  --base-font-color-on-alt: #361e2a;
  --color-link: #33007e;
  --color-card-hover: #d3c6e6;
  --color-stats: #77606c;
  --background-color-quote: #fff7fb;
  --color-memage: var(--color-secondary-2-2);

  --color-h3: hsl(23, 100%, 37%);

  --background-codespan: hsl(300, 29%, 86%);

  --h1: 3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: hsl(332, 50%, 5%);
    --background-color-alt: var(--background-color);
    --background-color-quote: hsl(332, 20%, 10%);
    --base-font-color: #eee0ee;
    --base-font-color-on-alt: var(--base-font-color);
    --color-link: var(--color-secondary-2-1);
    --color-card-hover: hsl(278, 50%, 10%);
    --color-stats: hsl(329, 10%, 75%);

    --color-heading: #e22485;
    --color-subheading: var(--color-secondary-2-1);
    --color-primary-on-alt: var(--color-heading);

    --background-codespan: hsl(231, 15%, 18%);
    --color-h3: hsl(23, 100%, 47%);
  }
}

@media only screen and (min-width: 483px) {
  :root {
    --h1: 4rem;
  }
}

body {
  background: var(--background-color);
  font-family: 'Overpass', 'Helvetica Neue', Verdana, Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--base-font-color-on-alt);
  font-size: 1.125rem;
}

p {
  line-height: 1.5rem;
}

a,
a code {
  color: var(--color-link);
}

h1 {
  color: var(--color-primary);
  font-weight: 700;
  font-size: var(--h1);
}

h1,
h2,
h3 {
  font-family: 'Roboto Slab', serif;
}

h2 {
  color: var(--color-subheading);
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2rem;
}

h3 {
  color: var(--color-h3);
  font-size: 1.4rem;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

code {
  font: 1rem monospace;
}

pre code {
  font: 1rem monospace;
}

ul {
  list-style-type: none;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible,
summary:focus-visible > span,
[tabindex]:focus-visible {
  outline: 3px solid var(--color-subheading);
  outline-offset: 2px;
}

summary:focus-visible {
  outline: none;
}

a:focus:not(:focus-visible),
button:focus:not(:focus-visible),
input:focus:not(:focus-visible),
textarea:focus:not(:focus-visible),
select:focus:not(:focus-visible),
summary:focus:not(:focus-visible),
[tabindex]:focus:not(:focus-visible) {
  outline: none;
}

.sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
