---
const { lang = 'en' } = Astro.props;
---

<a aria-label="Home page" href={lang === 'es' ? '/es' : '/'}>PB</a>

<style lang="scss">
  a {
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5rem;
    margin-left: 10vw;
    color: var(--color-heading);
    text-decoration: none;
  }
</style>
