---
const { section = '', lang = 'en' } = Astro.props;
---

<a class="lang-link" href={`${lang === 'en' ? '/es/' : '/'}${section}`}>
  {lang === 'en' ? '¿Hablas español?' : 'Speak English?'}
</a>

<style>
 .lang-link {
   position: absolute;
   top: 1rem;
   right: 10vw;
   z-index: 1;
 }
</style>
